<!DOCTYPE html>
<html lang="en-us">

<head>
    <!-- Disable Caching -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:type" content="website">

    <!-- OG Tags -->
    {% if not page.meta.is_root %}
        <title>{{ page.title }} - {{ config.site_name }}</title>
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}"/>
    {% else %}
        <title>minedocs</title>
        <meta property="og:title" content="minedocs" />
        <meta property="og:description" content="Community curated guides, and documentation plus wikis for mineblock11's mods."/>
        <meta property="og:image" content="https://mineblock11.dev/mb11.png" />
    {% endif %}

    <!-- CSS/JS -->
    <link rel="stylesheet" href="{{ '/assets/css/bulma.min.css'|url }}">
    <link rel="stylesheet" href="/node_modules/bulma-quickview/dist/css/bulma-quickview.min.css">
    <link rel="stylesheet" href="{{ '/css/theme.css'|url }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github-dark.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8415048556078691"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();

        document.addEventListener('DOMContentLoaded', () => {
            // Functions to open and close a modal
            function openModal($el) {
                $el.classList.add('is-active');
            }

            function closeModal($el) {
                $el.classList.remove('is-active');
            }

            function closeAllModals() {
                (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
                });
            }

            // Add a click event on buttons to open a specific modal
            (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
                const modal = $trigger.dataset.target;
                const $target = document.getElementById(modal);

                $trigger.addEventListener('click', () => {
                    openModal($target);
                });
            });

            // Add a click event on various child elements to close the parent modal
            (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
                const $target = $close.closest('.modal');

                $close.addEventListener('click', () => {
                    closeModal($target);
                });
            });

            // Add a keyboard event to close all modals
            document.addEventListener('keydown', (event) => {
                const e = event || window.event;

                if (e.keyCode === 27) { // Escape key
                    closeAllModals();
                }
            });
        });
    </script>
</head>

<body id="body">

    {% macro diffBadge(difficulty, size="") -%}
        {% if difficulty == "easy" %}
        <span class="tag is-success {{ size }}">Beginner</span>
        {% endif %}
        {% if difficulty == "intermediate" %}
        <span class="tag is-warning {{ size }}">Intermediate</span>
        {% endif %}
        {% if difficulty == "advanced" %}
        <span class="tag is-error {{ size }}">Advanced</span>
        {% endif %}
    {%- endmacro %}

    {% include 'partials/navbar.html' %}

    <div class="box">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8415048556078691"
            crossorigin="anonymous"></script>
        <!-- Header -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8415048556078691"
            data-ad-slot="1425995918" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    {% if page.meta.is_root %}

    <!-- Home Page -->
    {% include 'partials/index.html' %}

    <footer class="footer">
        {% include 'partials/footer.html' %}
    </footer>

    {% else %}

    <section class="section">
        <div class="container">
            <div class="columns">
                {% if not page.meta.hide_toc %}
                <div class="column is-one-quarter-tablet">
                    {% include 'partials/sidebar.html' %}
                </div>
                {% endif %}
                <div class="column">
                    <div class="content">
                        {% block content %}
                        {{ page.content }}
                        {% endblock content %}
                        <div class="clear"></div>
                    </div>
                    <div id="mkdocs-search-results"></div>
                </div>
            </div>
            <hr />
            <div class="container">
                <script src="https://giscus.app/client.js" data-repo="11mods/minedocs" data-repo-id="R_kgDOIR2vxA"
                    data-category="Guides" data-category-id="DIC_kwDOIR2vxM4CSJoX" data-mapping="og:title"
                    data-strict="1" data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top"
                    data-theme="transparent_dark" data-lang="en" data-loading="lazy" crossorigin="anonymous" async>
                    </script>
            </div>
        </div>
    </section>

    <footer class="footer">

        {% include 'partials/footer.html' %}

        <div class="container">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8415048556078691"
                crossorigin="anonymous"></script>
            <!-- Footer -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8415048556078691"
                data-ad-slot="4419809004" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </footer>

    {% endif %}

    
</body>

</html>