<div id="nav-toc" class="menu sticky">
  <div class="quickview-body" style="overflow-x: hidden;">

	<a href="/" class="button">← Go Back</a> <a href="https://discord.gg/U9AHqcZkTE" target="_blank" class="button">Discord</a> <a href="https://github.com/11mods" target="_blank" class="button">GitHub</a>
	<hr>

	{% if page.meta.author_name %}
	<div class="columns is-mobile is-centered is-vcentered">
		<div class="column is-one-fifth">
			<figure class="image is-32x32">
				<img class="is-rounded" src="{{ page.meta.author_img }}">
			  </figure>
		</div>
		<div class="column">
			<span class="content">Written By <strong>{{ page.meta.author_name }}</strong></span>
		</div>
	</div>
	{% endif %}

    <div class="quickview-block">
      {% for toc_item in page.toc %}
		<p class="menu-label">
		  {{ toc_item.title }} 
		  {{ diffBadge(page.meta.difficulty) }}
		</p>

		{% if toc_item.children %}
		  <ul class="menu-list">
			{% include 'partials/sidebar-item.html' %}
		  </ul>
		{% endif %}
	  {% endfor %}
    </div>
  </div>

  {% if page.meta.git_revision_date_localized %}
    <footer class="quickview-footer is-transparent">
		<span class="icon has-text-info">
		  <i class="fas fa-clock"></i>
		</span>
		Last update: {{ page.meta.git_revision_date_localized }}
	</footer>
  {% endif %}
</div>
